@import 'reset';
@import 'spinner';
@import 'input';

.press_service {
	background: transparent !important;
	margin-bottom: 12px;
	border-radius: 8px !important;
	border: 1px solid #1a1d201f !important;
	background: rgb(255, 255, 255);

	input {
		width: 260px;
		font-size: 16px !important;
		line-height: 22px !important;
		font-weight: 400 !important;
		color: #232d37 !important;
		background: rgb(255, 255, 255) !important;
		height: 46px !important;
		border: none !important;
		border-top-right-radius: 8px !important;
		border-bottom-right-radius: 8px !important;
		overflow: hidden;
	}

	@media (max-width: '500px') {
		input {
			width: 100%;
		}
	}

	.react-international-phone-country-selector {
		button {
			border-top-left-radius: 8px !important;
			border-bottom-left-radius: 8px !important;
			overflow: hidden;
			height: 100%;
			width: 59px;
			background: rgb(255, 255, 255) !important;
			border: none;
			padding: 10px;
		}
	}
}

/// / / /

.full-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pincode-input-container {
	display: flex !important;
	flex-wrap: nowrap !important;
	.pincode-input-text {
		padding: 0 !important;
		margin: 0 4px !important;
		text-align: center;
		border: 1px solid #ffffff !important;
		background: transparent;
		max-width: 63px !important;
		width: 100% !important;
		height: 72px !important;
		border-radius: 15px;
		font-size: 18px !important;
		color: #ffffff !important;
	}
	.pincode-input-text:focus {
		outline: none;
		box-shadow: none;
	}
}

.home_news {
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;

	// background: #777777;
}

.user-menu-active {
	svg > path {
		stroke: #3046bf;
	}
}
